:host ::ng-deep .p-button {
  margin: 0 0.5rem 0 0;
  min-width: 10rem;
}

p {
  margin: 0;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
}
:host ::ng-deep .p-inputtext {
  width: -webkit-fill-available;
}
.card-date-cvv {
  display: flex;
  justify-content: space-between;
}
::ng-deep .mat-select {
  border: 1px solid #ced4da;
  height: 32px;
  border-radius: 3px;
  width: 150px !important;
}
::ng-deep .mat-select-value {
  padding: 5px;
}
.button-styling {
  width: 200px;
}
.input {
  height: 43px;
}
img {
  width: 60px;
  height: 42px;
  float: right;
  margin-top: -42px;
  z-index: 1;
  position: relative;
  margin-right: 10px;
}
.alertMessage {
  color: red;
}
.alert-message-position {
  float: right;
}
