<p-dialog header="Add New Card" [(visible)]="this.mainService.displayForm" [modal]="true" [style]="{width: '50vw'}">
    <form [formGroup]="cardDetailForm" class="container">
        <div>
            <small class="card-number-header">Enter Debit/Credit Card Number</small><br>
            <div id="card-number">
                <input class="input" type="tel" formControlName="cardNumber" placeholder="Card number"
                    autocomplete="cc-number" pInputText ccNumber #ccNumber="ccNumber" (input)="getCardType(ccNumber)">
                <img [src]="ccNumber.resolvedScheme$ | async | creditDebitTypePipe" alt="" width="20" height="20">
            </div>
            <div *ngIf="formControl.cardNumber.touched && formControl.cardNumber.invalid" class="alertMessage">
                Please Enter Valid Card Number
            </div>


        </div>
        <div class="card-date-cvv">
            <div class="mt-2">
                <small class="card-number-header">Expiry Month</small><br>
                <mat-select formControlName="expiryMonth" name="month" placeholder="MM">
                    <mat-option *ngFor="let month of months" [value]="month">
                        {{month}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="mt-2">
                <small class="card-number-header">Expiry Year</small><br>
                <mat-select formControlName="expiryYear" name="year" placeholder="YYYY">
                    <mat-option *ngFor="let year of years" [value]="year">
                        {{year}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="mt-2">
                <small class="card-number-header">CVV</small><br>
                <input formControlName="cvv" placeholder="CVV" type="tel" autocomplete="off" pInputText ccCVC>
            </div>

        </div>
        <div *ngIf="(formControl.cvv.touched && formControl.cvv.invalid) || validateCardType"
            class="alertMessage alert-message-position">
            Please Enter Valid CVV number
        </div>
        <div class="mt-2">
            <button (click)="addData()" class="button-styling btn btn-secondary btn-lg"
                [disabled]="!cardDetailForm.valid || validateCardType">Add Card</button>
        </div>

    </form>


</p-dialog>