/* You can add global styles to this file, and also import other style files */
* {
  font-size: 14px;
}
.card-number-header {
  font-weight: lighter;
}
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 9999 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
