<div class="container mt-2 mb-4">
    My Wallet

    <div class="card">
        <div class="adjust-content" *ngFor="let card of cardData$|async">

            <span class="card add-border">
                <small class="card-number-header">Debit Card Number</small>
                {{card.cardNumber | creditDebitMaskPipe:4}}
                <span>
                    <img [src]="card.cardType| creditDebitTypePipe" alt="logo">
                </span>
            </span>



            <span class="adjust-button">
                <button type="button" class="btn btn-outline-primary" (click)="removeCard(card.id)">Remove</button>
            </span>
        </div>
        <div>
            <button class="adjust-add-button btn btn-primary btn-lg btn-block" (click)="addNewCard()">Add New
                Card</button>

        </div>
    </div>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [style]="{width: '40vw'}" acceptLabel="Ok"
        rejectLabel="Cancel">
    </p-confirmDialog>

</div>
<app-form *ngIf="openForm" (save)="saveData()"></app-form>

<p-toast></p-toast>