.add-border {
  width: 35%;
  margin-left: 96px;
  margin-top: 10px;
  margin-bottom: 3px;
  padding-top: 1px;
  padding-bottom: 6px;
  font-weight: 500;
  padding-left: 20px;
}

.adjust-content {
  display: flex;
}
.adjust-button {
  margin-left: 40px;
  margin-top: auto;
  margin-bottom: auto;
}
.btn {
  width: 200px;
}
.adjust-add-button {
  margin-left: 96px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}
img {
  width: 60px;
  height: 42px;
  float: right;
  margin-top: -35px;
  margin-bottom: -1px;
  margin-right: 10px;
}
